* {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 195, 129);
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
}

.remove {
    display: none;
}

.show {
    display: block;
}